In [30]:
import pyodbc
import pandas as pd
import datetime as dt
import numpy as np
from datetime import timedelta
from datetime import datetime
from dateutil import parser as dtparser
def dt_form(x):
    return dt.date.isoformat(x)
import csv
#with open('Q:\\Confidential\\DKNY\\Analytics\\2019\\201905 - Segmentation\\Eric\\Eric_csv_test.csv', 'w', newline='') as f:
    #writer = csv.writer(f)



#path = "Q:\\Confidential\\DKNY\Analytics\\2019\\201905 - Segmentation\\Eric\\"
period_end = dt.date(2019,5,31)
period_st = dt.date(2017,6,1)
period_12mo = dt.date(2018,5,31)
one_day = timedelta(days=1)
sweepkey = 25

#  Outfile location to be determined.
 #outfile = "Q:\Confidential\Analytics\BI\DW Loads\DKNY\Segment Files\segments_may2019.txt";

#filename = may19segscore

#Code to connect to data warehouse 1. driver = type of server. 
# server = sql server's name and database = which database on the sql server you want to access.
# trusted connection = yes just means you won't have a security error thrown.
connection = pyodbc.connect(driver = '{SQL SERVER}', 
                            Server = 'shcd-chi-dw1',
                            Database = 'DW_DKNY',
                            trusted_connection = 'yes')

In [31]:
# SQL query to create a member table
mem = """  \
select customerkey, enrolldate, store1distance
from fact_member 
where consolidatedcustomerkey is null
and convert(date,enrolldate) < """ + "'"+ dt_form(period_end + one_day) + "'" + "and countrycode not in ('GB','IE') "

print(period_end + one_day)
# Creation of member table
mem_table = pd.read_sql_query(mem, connection)

print(mem_table.agg({'customerkey':'count'}))

# SQL query to create a transaction table
trans = """  \
select transactionkey, customerkey, transactiondate, netsalesamount
from fact_transaction 
where customerkey is not null
and transactiondate >= """ + "'" + dt_form(period_st) + "' and transactiondate <= '" + dt_form(period_end) + "'"

# Creation of a transaction table
trans_table = pd.read_sql_query(trans,connection)


# SQL query to create an active 12 month table
active12mo = """  \
select customerkey, count(*) as trans_ct12mo, sum(netsalesamount) as to_netsales12mo
from fact_transaction
where convert(date,transactiondate) between \
""" + "'"+ dt_form(period_12mo + one_day) + "' and '" + dt_form(period_end) + "'" + """ \
group by customerkey
order by customerkey;
"""

# Creation of a 12 month active member table
active12mo_table = pd.read_sql_query(active12mo,connection)

# SQL query to create a transaction detail table
transdet = """  \
select transdetailkey, transactionkey, customerkey, productkey, 
quantity, netsalesamount, ic_discountamount, transactiondate
from fact_transdetail
where customerkey is not null
and '""" + dt_form(period_st) + "' <= convert(date,transactiondate) and convert(date,transactiondate) <= '"+ \
dt_form(period_end)+"'"

# Creation of a transaction detail table
transdet_table = pd.read_sql_query(transdet,connection)

2019-06-01
customerkey    2153963
dtype: int64

In [32]:
# Creation of a temporary transaction detail table named trans1
# We are also adding a 24 month activity flag variable to the temp. table.
# We initially set it to 0, then update the value to 1 if the transaction date is before 12 month's
#from the end of the current month.
trans1det = transdet_table.copy()

#trans1det = trans1det.insert(loc=len(trans1det.columns),column='activity_24mo_FL', value=0)
trans1det['activity_24mo_FL'] = np.where(trans1det['transactiondate'] < pd.to_datetime(period_12mo + one_day),1,0)


# SQL query to create a product table
prod = """  \
select productkey, categoryname, divisionname, departmentname
from dim_product;"""

# Creation of a product table
prod_table = pd.read_sql_query(prod,connection,coerce_float = False)


#### Adding Department Name product category and ecomm flags to product table
depts = ["DK WOMENS APPAREL", "DK MENS APPAREL", 'HANDBAGS', 'SMALL LEATHERGOODS', 'Womens Outerwear', 'HATS / MISC', 
        'Mens Outerwear', 'FOOTWEAR']
cats = ['APPAREL', 'Outerwear', 'WOMENS', 'MENS', 'ECOMMERCE']


# Creating and assinging department flag columns
for x in depts:
    prod_table[x+"_FL"] = np.where(prod_table['departmentname'] == x, 1, 0)

# Creating category flag coloumns
for x in cats:
    prod_table.insert(loc=len(prod_table.columns),column=x+"_FL", value = 0)

    
    
# Creating and Assigning Category Flag Values by using the max function across a collection
# of columns to assign a value to each row.
prod_table[ 'APPAREL_FL'] = prod_table[['DK WOMENS APPAREL_FL', 'DK MENS APPAREL_FL']].max(axis = 1)
prod_table[ 'Outerwear_FL'] = prod_table[['Womens Outerwear_FL', 'Mens Outerwear_FL']].max(axis = 1)
prod_table[ 'WOMENS_FL'] = prod_table[['Womens Outerwear_FL', 'HANDBAGS_FL', 'DK WOMENS APPAREL_FL']].max(axis = 1)
prod_table[ 'MENS_FL'] = prod_table[['DK MENS APPAREL_FL', 'Mens Outerwear_FL']].max(axis = 1)
prod_table['ECOMMERCE_FL'] = np.where(prod_table['productkey'] == 47455, 1,0)



trans1det['productkey'] = trans1det['productkey'].fillna(-1)
trans1det['productkey'] = trans1det['productkey'].astype('int64')
print(prod_table.dtypes, trans1det.dtypes)

productkey                int64
categoryname             object
divisionname             object
departmentname           object
DK WOMENS APPAREL_FL      int32
DK MENS APPAREL_FL        int32
HANDBAGS_FL               int32
SMALL LEATHERGOODS_FL     int32
Womens Outerwear_FL       int32
HATS / MISC_FL            int32
Mens Outerwear_FL         int32
FOOTWEAR_FL               int32
APPAREL_FL                int32
Outerwear_FL              int32
WOMENS_FL                 int32
MENS_FL                   int32
ECOMMERCE_FL              int32
dtype: object transdetailkey                int64
transactionkey                int64
customerkey                   int64
productkey                    int64
quantity                      int64
netsalesamount              float64
ic_discountamount           float64
transactiondate      datetime64[ns]
activity_24mo_FL              int32
dtype: object

In [33]:
# Left joining the transaction detail and product tables on product key
trans_det_prod = pd.merge(trans1det, prod_table, how='left', left_on = 'productkey', right_on = 'productkey')

# The code above leaves a lot of NaN values in the table.
# For this reason, it has forced the datatypes of all of the flags to be floats.
# The line of code below is swtiching all of the NaN values to 0.
# This may not be advisable in every situation, but it is fine here since there
# is no productkey with a value of 0 and after I do this, I can change
# all of the flag varialbes to have an integer datatype.
##############################


# The line below turns all of the NaN values in to 0.
trans_det_prod = trans_det_prod.fillna(0)



# The for loop below turns the datatypes for all of the flag
# variables into integer types. This is not necessary, but it might
# save some time with formatting later and is my personal preference.
# I am also creating a dictionary of column names and max aggregate functions
# to use in the .agg function below for aggregating column information.
lis = []
for x in prod_table.columns:
    if "_FL" in x:
        trans_det_prod[x] = trans_det_prod[x].astype('int8')
        lis.append((x,'max'))
#################################        


# The code in the line below creates a new table that displays
# whether or not a customer has shopped in the last 24 months by customerkey
# Python's Pandas package has a lot of SQL like functio built into it.
# We should expect this since it is a database manipulation package.
trans_24mo = trans_det_prod.groupby('customerkey', as_index=False).agg({'activity_24mo_FL': 'max'})
##################

trans_det_prod = trans_det_prod.loc[trans_det_prod['transactiondate'] > '2018-05-31']
print(trans_det_prod.query("transactiondate < '2018-06-01'"))



# We are making a dictionary with keys the columns we want to aggregate from
# and key values the aggregating functions (in this case just sums and a lot of max...s).
# Then we are creating an aggregating table trans_det_prod_roll.
# We are taking the max of all of the flag variables and suming the columns
# 'netsalesamount', 'ic_discountamount, and 'quantity'.
dic = {'netsalesamount':'sum','ic_discountamount': 'sum', 'quantity': 'sum'}
dic.update(dict(lis))
trans_det_prod_roll = trans_det_prod.groupby('transactionkey', as_index=False).agg(dic)
#trans_det_prod_roll['transactionkey'] = trans_det_prod_roll['transactionkey'].astype(int)



#trans_det_prod_roll

# The bit of code below is to change the column name, 'netsalesamount' to 'to_netsalesamount'. 
# If we do not do this now, then when we merge the tables trans_table and _trans_det_prod_roll
# below, we will get two columns labelled 'netsalesamount_x' and 'netsalesamount_y'.
# while this is not inherently an issue and could be fixed by just dropping one of the 
# 'netsalesamount' columns, it follows the SAS code and demonstrates that to change
# column names for a dataframe, we can feed in a dictionary to the .replace() function 
# whose keys are the current column names and whose keyvalues are the columns we want to replace them with.

# The lines below until the next comment creates the dictionary to feed into .rename().
dic2 = dict({})
for x in trans_det_prod_roll.columns:
    dic2.update({x:x})
dic2.pop('netsalesamount')
dic2.update({'netsalesamount':'to_netsalesamount'})
# The line below actually does the renaming the columns of trans_det_prod_roll.
# It .rename() creates a copy, so to override the current table, we must set the table
# equal to the .rename() return copy.
trans_det_prod_roll = trans_det_prod_roll.rename(index=str, columns=dic2)
#####################



# Start here 06/20/2019 !!!!!!!!!!!!!!!!!!
# see datatypes of two tables in the merge statements below.
# transactionkey types do not seem to match!!!!!!!!!!!!!!


trans_product = pd.merge(trans_table, trans_det_prod_roll, how='inner', left_on = 'transactionkey', \
                        right_on = 'transactionkey')

# Just doing some basic QA below
print("active 12 month: " , active12mo_table.agg({'customerkey':'count'}))
print("trans_det: " , transdet_table.agg({'transactionkey':'count'}))
print("trans1det: " , trans1det.agg({'transactionkey':'count'}))
print("prod_table: ", prod_table.agg({'productkey':'count'}))
print("trans_det_prod: ", trans_det_prod.agg({'transactionkey':'count'}))
print("trans_det_prod_roll: ", trans_det_prod_roll.agg({'transactionkey':'count'}))
print("trans_table: ", trans_table.agg({'transactionkey':'count'}))
print("trans_product: ", trans_product.agg({'customerkey':'count'}))

##########################



trans_product = pd.merge(trans_product, trans_24mo, how = 'left', left_on = 'customerkey', right_on = 'customerkey')
trans_product.agg({'customerkey':'count'})

#print(trans_prod.query('activity_24mo_FL == 1'), trans_prod.agg({'customerkey':'count'}))

print(trans_product.columns)

lis2 = []
for x in trans_product.columns:
    if "_FL" in x:
        trans_product[x] = trans_product[x].astype('int8')
        lis2.append((x,'max'))
        
trans_product['transactiondate_min'] = trans_product['transactiondate']
        
dic2 = {'netsalesamount':'sum', \
                'transactiondate_min':'min', 'transactiondate':'max'}
dic2.update(dict(lis2))
        
    
trans_roll = trans_product.groupby('customerkey', as_index = False).agg(dic2)
trans_roll_column_dict = dict({})


for x in trans_roll.columns:
    trans_roll_column_dict.update({x:x})
trans_roll_column_dict.pop('transactiondate_min')
trans_roll_column_dict.pop('transactiondate')


dic3 = {'transactiondate_min':'first_visit', \
                    'transactiondate':'last_visit'}
trans_roll_column_dict.update(dic3)

trans_roll = trans_roll.rename(index = str, columns = dic3)

mem_trans = pd.merge(mem_table, trans_roll, how = 'inner', left_on = 'customerkey', right_on = 'customerkey')

# Basic QA below
print("trans_roll: ", trans_roll.agg({'customerkey':'count'}))
print("mem_trans: ", mem_trans.agg({'customerkey':'count'}))
print("mem_table: ", mem_table.agg({'customerkey':'count'}))
#####################


mem_trans1 = mem_trans.copy()

print(mem_trans1.dtypes)
    

mem_trans1['dsenroll'] = mem_trans['enrolldate'].apply(lambda x: (period_end - x.date()).days)
mem_trans1['dslv'] = mem_trans['last_visit'].apply(lambda x: (period_end - x.date()).days)
mem_trans1['store1distance'] = mem_trans1['store1distance'].fillna(-1)


mem_trans1 = pd.merge(mem_trans1, active12mo_table, how = 'inner', on = 'customerkey')
mem_trans1 = mem_trans1.loc[mem_trans1['trans_ct12mo'] <= 50]

column_dict = dict({})


for x in mem_trans1.columns:
    column_dict.update({x:x})

column_dict.pop('to_netsales12mo')
column_dict.update({'to_netsales12mo':'totalnetspend12m'})
column_dict

mem_trans1 = mem_trans1.rename(columns = column_dict)
print(mem_trans1.agg({'customerkey':'count'}))








#trans_det_prod.head(10)



#sql_query_memtable.head(10)
#df.to_csv('Q:\\Confidential\\DKNY\\Analytics\\2019\\201905 - Segmentation\\Eric\\Eric_csv_test.csv')
# df.type(["store1distance"])

Empty DataFrame
Columns: [transdetailkey, transactionkey, customerkey, productkey, quantity, netsalesamount, ic_discountamount, transactiondate, activity_24mo_FL, categoryname, divisionname, departmentname, DK WOMENS APPAREL_FL, DK MENS APPAREL_FL, HANDBAGS_FL, SMALL LEATHERGOODS_FL, Womens Outerwear_FL, HATS / MISC_FL, Mens Outerwear_FL, FOOTWEAR_FL, APPAREL_FL, Outerwear_FL, WOMENS_FL, MENS_FL, ECOMMERCE_FL]
Index: []

[0 rows x 25 columns]
active 12 month:  customerkey    170392
dtype: int64
trans_det:  transactionkey    1177150
dtype: int64
trans1det:  transactionkey    1177150
dtype: int64
prod_table:  productkey    59515
dtype: int64
trans_det_prod:  transactionkey    709385
dtype: int64
trans_det_prod_roll:  transactionkey    255676
dtype: int64
trans_table:  transactionkey    421553
dtype: int64
trans_product:  customerkey    255649
dtype: int64
Index(['transactionkey', 'customerkey', 'transactiondate', 'netsalesamount',
       'to_netsalesamount', 'ic_discountamount', 'quantity',
       'DK WOMENS APPAREL_FL', 'DK MENS APPAREL_FL', 'HANDBAGS_FL',
       'SMALL LEATHERGOODS_FL', 'Womens Outerwear_FL', 'HATS / MISC_FL',
       'Mens Outerwear_FL', 'FOOTWEAR_FL', 'APPAREL_FL', 'Outerwear_FL',
       'WOMENS_FL', 'MENS_FL', 'ECOMMERCE_FL', 'activity_24mo_FL'],
      dtype='object')
trans_roll:  customerkey    170334
dtype: int64
mem_trans:  customerkey    170284
dtype: int64
mem_table:  customerkey    2153963
dtype: int64
customerkey                       int64
enrolldate               datetime64[ns]
store1distance                  float64
netsalesamount                  float64
first_visit              datetime64[ns]
last_visit               datetime64[ns]
DK WOMENS APPAREL_FL               int8
DK MENS APPAREL_FL                 int8
HANDBAGS_FL                        int8
SMALL LEATHERGOODS_FL              int8
Womens Outerwear_FL                int8
HATS / MISC_FL                     int8
Mens Outerwear_FL                  int8
FOOTWEAR_FL                        int8
APPAREL_FL                         int8
Outerwear_FL                       int8
WOMENS_FL                          int8
MENS_FL                            int8
ECOMMERCE_FL                       int8
activity_24mo_FL                   int8
dtype: object
customerkey    170231
dtype: int64

In [34]:

# SQL query for a 12 Month Issuance Table
iss_query = """ \
select customerkey, rewardnumber, loyaltyrewardkey, rewardamount, \
rewardsweepkey, rewarddate, expirationdate, rewardamountused
from fact_loyaltyreward a,
    fact_membership b
    where a.customermembershipkey = b.customermembershipkey
    and rewardsweepkey between """ + str(sweepkey - 13) + " and " + str(sweepkey - 2)

# Creation of 12 Month Issuance Table
iss_table = pd.read_sql_query(iss_query, connection)

# SQL query for Redemption Table in Sweep of Interest
red_query = """ \
select loyaltyrewardkey, transactionamount, 1 as red_fl
from fact_loyaltyreward a,
    fact_rewardredemption b
    where a.loyaltyrewardkey = b.loyaltyrewardid
    and convert(date,b.transactiondtm) <= """ + "'" + dt_form(period_end) + "'"

# Creation of Redemption table
red_table = pd.read_sql_query(red_query, connection)

#QA Check
#print(iss_table.agg({'customerkey':'count'}), red_table.agg({'loyaltyrewardkey':'count'}))


iss_red = pd.merge(iss_table, red_table, how = 'left', on = 'loyaltyrewardkey')

#Setting red_fl to 0 for customers that have been issued a reward
# but have never redeemed a reward.
iss_red['red_fl'] = iss_red['red_fl'].fillna(0.0)

#QA check
#iss_red.query('red_fl != red_fl')


iss_red_roll = iss_red.groupby('customerkey', as_index = False).agg({'rewardnumber':'count', 'red_fl':'max'})
iss_red_roll = iss_red_roll.rename(columns = {'customerkey':'customerkey', 'rewardnumber':'num_issued', \
                                    'red_fl':'ever_redeemed_fl'})


print(iss_red_roll.agg({'customerkey':'count'}))

# Create Last Issuance Table

last_iss_query = """\
select customerkey, max(convert(date,rewarddate)) as last_reward_earned, \
min(convert(date,rewarddate)) as first_reward_earned
from fact_loyaltyreward a,
    fact_membership b
    where a.customermembershipkey = b.customermembershipkey
    and convert(date,rewarddate) <= """ + "'" + dt_form(period_end) + "'" + """ \
    group by customerkey
    order by customerkey; """

last_iss = pd.read_sql_query(last_iss_query, connection)
#print(last_iss.head(100), last_iss.agg({'customerkey':'count'}))

all_table = pd.merge(mem_trans1, iss_red_roll, how = 'left', on = 'customerkey')
print(all_table.agg({'customerkey':'count'}))


all_table = pd.merge(all_table, last_iss, how = 'left', on = 'customerkey')


all_table['last_reward_earned'] = all_table['last_reward_earned'].fillna(value = dt_form(period_end + one_day))
all_table['first_reward_earned'] = all_table['first_reward_earned'].fillna(value = dt_form(period_end + one_day))
all_table['red_fl'] = all_table['ever_redeemed_fl']
all_table['red_fl'] = np.where(all_table['red_fl'] != all_table['red_fl'], 0, 1)
all_table['num_issued'] = all_table['num_issued'].fillna(0.0)
all_table['earn_fl'] = np.where(all_table['num_issued'] >= 1, 1, 0)



    

all_table['dslreward'] = all_table['last_reward_earned'].apply(lambda x: \
                                    (period_end - dt.datetime.strptime(str(x), '%Y-%m-%d').date()).days)
all_table['tenure'] = all_table['first_visit'].apply(lambda x: \
                                    (period_end - x.date()).days)
print(all_table.agg({'customerkey':'count'}), all_table.head(100))


all_table['ever_redeemed_fl'] = all_table['ever_redeemed_fl'].fillna(0.0)

all_table2 = all_table[['customerkey', 'store1distance', 'totalnetspend12m', 'trans_ct12mo', \
'DK WOMENS APPAREL_FL', 'DK MENS APPAREL_FL', 'HANDBAGS_FL', 'SMALL LEATHERGOODS_FL', 'Womens Outerwear_FL', \
'HATS / MISC_FL', 'Mens Outerwear_FL', 'FOOTWEAR_FL', 'APPAREL_FL', 'Outerwear_FL', 'WOMENS_FL', \
'MENS_FL', 'ECOMMERCE_FL', 'activity_24mo_FL', 'dsenroll', 'dslv', 'num_issued', 'ever_redeemed_fl', \
'earn_fl', 'dslreward', 'tenure']]



########### Creation of the Final Segmentation Table
segmentation = all_table2.copy()


segmentation.dtypes

conditions = [\
    (segmentation['trans_ct12mo'] > 3), \
    (segmentation['trans_ct12mo'] == 2) | (segmentation['trans_ct12mo'] == 3), \
    (segmentation['trans_ct12mo'] == 1) & (segmentation['dsenroll'] <= 90), \
    (segmentation['trans_ct12mo'] == 1) & (segmentation['dsenroll'] > 90) & \
              (segmentation['dslv'] <= 270), \
    (segmentation['trans_ct12mo'] == 1) & (segmentation['dsenroll'] > 90) & \
              (segmentation['dslv'] > 270)]

choices = [1,2,3,4,5]
segmentation['segment'] = np.select(conditions, choices, default='uh-oh!')



print(segmentation.agg({'customerkey': 'count'}), segmentation.query("segment == 'uh-oh!'"))
print(segmentation.query('trans_ct12mo == 0'))
#segmentation.to_excel('Q:\\Confidential\\Analytics\\Interns 2019\\Eric\\DKNY Segmentation Build.xlsx')


#segall = pd.read_csv('Q:\\Confidential\\DKNY\\Analytics\\2019\\201905 - Segmentation\\Eric\\segall.csv')
#print(segall.agg({'CustomerKey':'count'}))

######################################################

customerkey    110801
dtype: int64
customerkey    170231
dtype: int64
customerkey    170231
dtype: int64     customerkey enrolldate  store1distance  netsalesamount first_visit  \
0            10 2016-06-08         -1.0000           19.99  2018-09-07
1            11 2016-03-19         -1.0000          175.47  2018-10-14
2            23 2016-12-10         -1.0000          240.33  2018-06-15
3            28 2017-03-11         -1.0000          114.89  2018-11-22
4            31 2016-07-15         -1.0000          113.39  2018-07-22
5            43 2016-11-30         -1.0000           15.20  2018-06-19
6            56 2016-02-22         -1.0000           39.98  2018-07-15
7            76 2013-07-04         44.1857          236.97  2018-12-15
8           114 2015-06-04         -1.0000          158.60  2019-03-01
9           116 2015-05-20         -1.0000           64.97  2018-10-15
10          182 2013-06-25          6.2971          188.05  2018-06-23
11          189 2016-06-06         -1.0000          194.95  2018-07-04
12          208 2016-07-10         -1.0000          236.86  2019-02-10
13          220 2016-05-14         -1.0000          108.81  2018-12-15
14          221 2016-05-17         49.9697           21.75  2018-10-12
15          229 2016-11-15         -1.0000          366.52  2018-06-14
16          231 2016-06-26         -1.0000           29.98  2019-05-25
17          238 2016-06-11         -1.0000          424.60  2018-11-16
18          242 2016-06-25         -1.0000           29.99  2018-06-06
19          248 2016-11-19         -1.0000            9.93  2018-10-02
20        26409 2013-09-02         -1.0000           53.98  2018-08-18
21        36417 2013-09-20         -1.0000           19.98  2019-05-17
22        45735 2013-10-12         -1.0000          108.29  2018-10-05
23        45827 2013-11-07         -1.0000           59.97  2019-05-22
24        45837 2013-10-05         -1.0000           39.60  2018-11-30
25         9742 2013-08-07         -1.0000           29.50  2018-07-03
26         9777 2013-08-06         -1.0000          122.46  2018-07-05
27         9786 2013-08-06         -1.0000          214.17  2019-05-05
28        71922 2013-11-29         -1.0000           17.99  2019-04-27
29        72045 2014-02-08         -1.0000           19.99  2018-08-08
..          ...        ...             ...             ...         ...
70        55592 2013-12-23         -1.0000          160.46  2019-05-19
71        55645 2013-10-25         -1.0000           37.98  2018-07-01
72        55707 2013-11-21         -1.0000           40.08  2019-02-27
73          766 2013-07-27         -1.0000          599.40  2019-04-13
74          971 2013-07-30         -1.0000           17.99  2018-07-06
75        10323 2013-08-03         -1.0000           59.95  2018-11-18
76        36835 2013-09-28         -1.0000           60.00  2019-03-23
77        36849 2013-09-28         -1.0000           29.94  2018-06-02
78        36859 2013-09-28         23.3911          100.80  2019-02-25
79        55824 2013-12-05         -1.0000          219.16  2018-11-05
80        55870 2013-12-06         -1.0000           23.97  2019-04-28
81        55931 2013-10-22         -1.0000           29.98  2018-12-28
82        55952 2013-12-07          9.1385          457.65  2018-06-09
83        10339 2013-08-08         -1.0000          327.94  2019-02-15
84        10364 2013-08-05         38.4588           68.00  2018-08-15
85        10531 2013-08-08         -1.0000           35.40  2018-06-06
86         1010 2013-07-31         -1.0000          119.20  2019-02-18
87         1103 2013-08-01         -1.0000           60.00  2019-04-13
88         1109 2013-08-01         -1.0000           40.08  2018-09-12
89         1126 2013-08-01         -1.0000           39.99  2019-01-01
90         1134 2013-08-01          9.0762           71.39  2018-06-19
91        27115 2013-09-09         16.9367           29.25  2019-02-04
92        36968 2014-04-07         -1.0000           94.97  2018-09-03
93        46643 2013-10-27         -1.0000          600.09  2018-07-21
94        46707 2015-12-10         -1.0000           34.98  2018-11-16
95        46744 2013-10-14         -1.0000          175.03  2018-09-14
96        46745 2013-10-14         -1.0000           19.98  2018-10-13
97        46801 2013-10-12         -1.0000           39.97  2018-06-03
98        55996 2013-12-07         -1.0000           59.91  2018-10-13
99        56040 2013-12-07         -1.0000          387.10  2018-11-11

   last_visit  DK WOMENS APPAREL_FL  DK MENS APPAREL_FL  HANDBAGS_FL  \
0  2018-09-07                     1                   0            0
1  2018-10-14                     1                   1            0
2  2018-07-31                     1                   1            0
3  2018-11-22                     0                   1            0
4  2018-07-22                     0                   1            1
5  2018-06-19                     0                   0            0
6  2018-07-15                     1                   0            0
7  2019-05-05                     1                   0            0
8  2019-03-01                     1                   0            0
9  2018-10-15                     1                   0            1
10 2018-10-16                     1                   0            0
11 2019-02-09                     1                   1            0
12 2019-03-17                     1                   0            0
13 2018-12-17                     0                   0            0
14 2018-10-12                     0                   0            0
15 2019-05-15                     1                   1            0
16 2019-05-25                     0                   0            0
17 2019-04-29                     0                   0            0
18 2018-06-06                     0                   1            0
19 2018-10-02                     1                   0            0
20 2018-08-18                     0                   1            0
21 2019-05-17                     1                   0            0
22 2018-10-05                     1                   0            0
23 2019-05-22                     1                   0            0
24 2018-11-30                     0                   1            0
25 2018-07-03                     1                   0            0
26 2018-07-05                     1                   0            0
27 2019-05-05                     1                   1            0
28 2019-04-27                     0                   1            0
29 2018-08-08                     0                   1            0
..        ...                   ...                 ...          ...
70 2019-05-25                     1                   1            1
71 2018-08-05                     0                   1            0
72 2019-02-27                     0                   1            0
73 2019-04-13                     1                   1            0
74 2018-07-06                     1                   0            0
75 2018-11-18                     1                   0            0
76 2019-03-23                     0                   1            0
77 2018-06-02                     0                   1            0
78 2019-02-25                     0                   0            0
79 2018-11-05                     1                   0            0
80 2019-04-28                     1                   0            0
81 2018-12-28                     1                   0            0
82 2019-04-04                     0                   0            0
83 2019-02-15                     1                   1            0
84 2018-08-15                     0                   0            0
85 2018-06-06                     1                   0            0
86 2019-02-18                     0                   0            0
87 2019-04-13                     0                   1            0
88 2018-09-12                     1                   0            0
89 2019-01-01                     1                   0            0
90 2018-06-19                     1                   0            0
91 2019-02-04                     0                   0            0
92 2018-09-03                     0                   1            0
93 2019-03-16                     1                   1            1
94 2018-11-16                     0                   1            0
95 2019-03-12                     1                   1            0
96 2018-10-13                     1                   0            0
97 2018-06-03                     1                   0            0
98 2018-10-13                     1                   0            0
99 2019-05-03                     1                   1            1

    SMALL LEATHERGOODS_FL  ...  trans_ct12mo  totalnetspend12m  num_issued  \
0                       0  ...             1             19.99         1.0
1                       0  ...             1            175.47         2.0
2                       0  ...             3            240.33         2.0
3                       0  ...             1            114.89         1.0
4                       0  ...             1            113.39         1.0
5                       0  ...             1             15.20         1.0
6                       0  ...             1             39.98         1.0
7                       0  ...             2            236.97         1.0
8                       0  ...             1            158.60         0.0
9                       0  ...             1             64.97         1.0
10                      1  ...             2            188.05         2.0
11                      0  ...             3            194.95         3.0
12                      0  ...             2            236.86         1.0
13                      0  ...             2            108.81         1.0
14                      0  ...             1             21.75         1.0
15                      0  ...             8            366.52         5.0
16                      0  ...             1             29.98         0.0
17                      0  ...             3            424.60         2.0
18                      0  ...             1             29.99         0.0
19                      0  ...             1              9.93         0.0
20                      0  ...             1             53.98         1.0
21                      0  ...             1             19.98         0.0
22                      0  ...             1            108.29         2.0
23                      0  ...             1             59.97         0.0
24                      0  ...             1             39.60         0.0
25                      0  ...             1             29.50         0.0
26                      0  ...             1            122.46         1.0
27                      0  ...             1            214.17         0.0
28                      0  ...             1             17.99         0.0
29                      0  ...             1             19.99         2.0
..                    ...  ...           ...               ...         ...
70                      0  ...             3            160.46         0.0
71                      0  ...             2             37.98         0.0
72                      0  ...             1             40.08         1.0
73                      0  ...             1            599.40         1.0
74                      0  ...             1             17.99         1.0
75                      0  ...             1             59.95         1.0
76                      0  ...             1             60.00         0.0
77                      0  ...             1             29.94         1.0
78                      0  ...             1            100.80         1.0
79                      0  ...             1            219.16         1.0
80                      0  ...             1             23.97         0.0
81                      0  ...             1             29.98         0.0
82                      0  ...             8            457.65         4.0
83                      0  ...             1            327.94         1.0
84                      0  ...             1             68.00         1.0
85                      0  ...             1             35.40         0.0
86                      0  ...             1            119.20         1.0
87                      0  ...             1             60.00         0.0
88                      0  ...             1             40.08         1.0
89                      0  ...             1             39.99         0.0
90                      0  ...             2             71.39         1.0
91                      0  ...             1             29.25         0.0
92                      0  ...             1             94.97         0.0
93                      1  ...             8            600.09         4.0
94                      0  ...             1             34.98         0.0
95                      0  ...             4            175.03         1.0
96                      0  ...             1             19.98         1.0
97                      0  ...             1             39.97         0.0
98                      0  ...             1             59.91         1.0
99                      0  ...             3            387.10         1.0

    ever_redeemed_fl  last_reward_earned  first_reward_earned  red_fl  \
0                0.0          2018-10-12           2018-10-12       1
1                0.0          2018-11-15           2018-03-19       1
2                0.0          2018-11-15           2018-07-12       1
3                0.0          2018-12-14           2018-12-14       1
4                0.0          2018-11-15           2018-11-15       1
5                0.0          2018-07-12           2018-03-19       1
6                0.0          2018-11-15           2018-11-15       1
7                0.0          2019-01-11           2017-08-25       1
8                NaN          2019-04-12           2018-03-19       0
9                0.0          2018-11-15           2018-11-15       1
10               0.0          2018-11-15           2018-03-19       1
11               1.0          2018-11-15           2017-08-25       1
12               0.0          2019-03-14           2019-03-14       1
13               0.0          2019-01-11           2019-01-11       1
14               1.0          2018-07-12           2017-08-25       1
15               1.0          2019-03-14           2017-12-15       1
16               NaN          2019-06-01           2019-06-01       0
17               0.0          2019-05-14           2018-12-14       1
18               NaN          2018-01-12           2018-01-12       0
19               NaN          2018-03-19           2018-03-19       0
20               0.0          2018-11-15           2018-03-19       1
21               NaN          2018-03-19           2018-03-19       0
22               1.0          2018-07-12           2018-03-19       1
23               NaN          2018-03-19           2018-03-19       0
24               NaN          2018-03-19           2018-03-19       0
25               NaN          2019-06-01           2019-06-01       0
26               0.0          2018-08-15           2018-08-15       1
27               NaN          2018-03-19           2018-03-19       0
28               NaN          2018-03-19           2018-03-19       0
29               1.0          2018-07-12           2017-05-12       1
..               ...                 ...                  ...     ...
70               NaN          2018-03-19           2018-03-19       0
71               NaN          2018-03-19           2018-03-19       0
72               0.0          2019-03-14           2019-03-14       1
73               0.0          2019-05-14           2017-08-25       1
74               0.0          2018-11-15           2018-11-15       1
75               0.0          2018-07-12           2018-07-12       1
76               NaN          2019-04-12           2019-04-12       0
77               0.0          2018-07-12           2018-07-12       1
78               0.0          2019-03-14           2018-03-19       1
79               0.0          2018-12-14           2017-05-12       1
80               NaN          2018-03-19           2018-03-19       0
81               NaN          2019-06-01           2019-06-01       0
82               0.0          2019-01-11           2018-06-14       1
83               0.0          2019-04-12           2019-03-14       1
84               0.0          2018-09-14           2018-09-14       1
85               NaN          2019-06-01           2019-06-01       0
86               0.0          2019-03-14           2019-03-14       1
87               NaN          2018-03-19           2018-03-19       0
88               0.0          2018-10-12           2018-10-12       1
89               NaN          2019-04-12           2019-04-12       0
90               0.0          2018-07-12           2017-12-15       1
91               NaN          2019-06-01           2019-06-01       0
92               NaN          2018-03-19           2017-05-12       0
93               1.0          2019-04-12           2018-05-11       1
94               NaN          2019-06-01           2019-06-01       0
95               0.0          2019-04-12           2018-03-19       1
96               0.0          2018-11-15           2017-12-15       1
97               NaN          2017-08-25           2017-08-25       0
98               0.0          2018-04-13           2018-04-13       1
99               0.0          2018-12-14           2017-08-25       1

    earn_fl  dslreward  tenure
0         1        231     266
1         1        197     229
2         1        197     350
3         1        168     190
4         1        197     313
5         1        323     346
6         1        197     320
7         1        140     167
8         0         49      91
9         1        197     228
10        1        197     342
11        1        197     331
12        1         78     110
13        1        140     167
14        1        323     231
15        1         78     351
16        0         -1       6
17        1         17     196
18        0        504     359
19        0        438     241
20        1        197     286
21        0        438      14
22        1        323     238
23        0        438       9
24        0        438     182
25        0         -1     332
26        1        289     330
27        0        438      26
28        0        438      34
29        1        323     296
..      ...        ...     ...
70        0        438      12
71        0        438     334
72        1         78      93
73        1         17      48
74        1        197     329
75        1        323     194
76        0         49      69
77        1        323     363
78        1         78      95
79        1        168     207
80        0        438      33
81        0         -1     154
82        1        140     356
83        1         49     105
84        1        259     289
85        0         -1     359
86        1         78     102
87        0        438      48
88        1        231     261
89        0         49     150
90        1        323     346
91        0         -1     116
92        0        438     270
93        1         49     314
94        0         -1     196
95        1         49     259
96        1        197     230
97        0        644     362
98        1        413     230
99        1        168     201

[100 rows x 32 columns]
customerkey    170231
dtype: int64 Empty DataFrame

In [37]:
# Creation of a Days Between Visits Table for Customers on Segmentation Table
seg_custs = segmentation[['customerkey', 'segment']]
trans_12mo = trans_table.loc[trans_table['transactiondate'] >= pd.Timestamp(period_12mo + one_day)]
seg_dbtwv = pd.merge(seg_custs, trans_12mo, how = 'left', on = 'customerkey')
dbtwv1 = seg_dbtwv.copy()


# Creation of Smaller Dataset for QA pruposes.
#temp2 = temp2.iloc[0:20000]
########################


def dbtwv_calc(df):
    if len(df['transactiondate']) == 1:
        df.at[:,'transactiondate'] = -1
        return df['transactiondate']
    
    else:
        df['transactiondate'] = df['transactiondate'].sort_values()
        diff = df['transactiondate'].diff()
        diff = pd.DataFrame({'transactiondate':diff})
        diff = diff.dropna()
        diff['transactiondate'] = diff['transactiondate'].apply(lambda x: x.days)
        
        return diff


dbtwv1 = dbtwv1.sort_values('transactiondate')    
dbtwv1 = dbtwv1.groupby(['customerkey','segment']).apply(dbtwv_calc)
dbtwv1 = dbtwv1.reset_index()

dbtwv = pd.DataFrame(dbtwv1)
dbtwv = dbtwv.drop('level_2', axis = 1)
dbtwv = dbtwv[dbtwv.transactiondate != -1]
dbtwv = dbtwv[dbtwv.transactiondate > 0]
print(dbtwv)

        customerkey segment   0  transactiondate
2                23       2 NaN             46.0
8                76       2 NaN            141.0
11              182       2 NaN            115.0
12              189       2 NaN            164.0
13              189       2 NaN             56.0
14              208       2 NaN             35.0
15              220       2 NaN              2.0
17              229       1 NaN             20.0
18              229       1 NaN             14.0
19              229       1 NaN             14.0
20              229       1 NaN            189.0
21              229       1 NaN             97.0
22              229       1 NaN              1.0
25              238       2 NaN             79.0
26              238       2 NaN             85.0
29              269       2 NaN             56.0
37              319       2 NaN            185.0
39              327       1 NaN              9.0
40              327       1 NaN              4.0
41              327       1 NaN            110.0
42              327       1 NaN             15.0
44              342       2 NaN             29.0
47              355       2 NaN             27.0
48              393       1 NaN              8.0
49              393       1 NaN              1.0
50              393       1 NaN             27.0
51              399       2 NaN             28.0
52              409       2 NaN             19.0
65             1633       2 NaN            121.0
67             1658       2 NaN            139.0
...             ...     ...  ..              ...
210105      2288147       2 NaN              3.0
210110      2288152       2 NaN              1.0
210129      2288171       2 NaN              4.0
210176      2288218       2 NaN              2.0
210210      2288252       2 NaN              2.0
210375      2288417       2 NaN              1.0
210395      2288436       2 NaN              1.0
210428      2288468       2 NaN              2.0
210435      2288475       2 NaN              1.0
210448      2288487       2 NaN              2.0
210452      2288491       2 NaN              2.0
210453      2288491       2 NaN              1.0
210469      2288507       2 NaN              1.0
210522      2288558       2 NaN              1.0
210555      2288591       2 NaN              3.0
210805      2288842       2 NaN              2.0
210819      2288854       2 NaN              2.0
210844      2288878       2 NaN              1.0
210930      2288963       2 NaN              1.0
210931      2288964       2 NaN              1.0
210952      2288985       2 NaN              1.0
210993      2289023       2 NaN              2.0
211019      2289048       2 NaN              1.0
211036      2289065       2 NaN              1.0
211189      2289220       2 NaN              4.0
211211      2289242       2 NaN              9.0
211494      2289525       2 NaN              1.0
211539      2289568       2 NaN              1.0
211596      2289623       2 NaN              1.0
212357      2292796       2 NaN              1.0

[60704 rows x 4 columns]

In [36]:
# Creation of Segment Level Statistics

print(segmentation.columns.to_list())
seg_stats = segmentation[['store1distance', 'totalnetspend12m', 'trans_ct12mo', \
                         'DK WOMENS APPAREL_FL', 'DK MENS APPAREL_FL', 'HANDBAGS_FL', 'SMALL LEATHERGOODS_FL', \
                         'Womens Outerwear_FL', 'HATS / MISC_FL', 'Mens Outerwear_FL', 'FOOTWEAR_FL', 'APPAREL_FL', \
                         'Outerwear_FL', 'WOMENS_FL', 'MENS_FL', 'ECOMMERCE_FL', 'activity_24mo_FL', 'dsenroll', \
                         'dslv', 'num_issued', 'ever_redeemed_fl', 'earn_fl', 'dslreward', 'tenure', \
                         'segment']]
seg_stats = seg_stats.loc[seg_stats['store1distance'] >= 0.0]
seg_stats = seg_stats.groupby('segment')
seg_stats = seg_stats.agg([len, np.size, np.mean, np.std, np.min, np.max])
seg_stats = seg_stats.T
#seg_stats.to_excel('Q:\\Confidential\\Analytics\\Interns 2019\\Eric\\DKNY\\DKNY Segmentation Statistics.xlsx')

['customerkey', 'store1distance', 'totalnetspend12m', 'trans_ct12mo', 'DK WOMENS APPAREL_FL', 'DK MENS APPAREL_FL', 'HANDBAGS_FL', 'SMALL LEATHERGOODS_FL', 'Womens Outerwear_FL', 'HATS / MISC_FL', 'Mens Outerwear_FL', 'FOOTWEAR_FL', 'APPAREL_FL', 'Outerwear_FL', 'WOMENS_FL', 'MENS_FL', 'ECOMMERCE_FL', 'activity_24mo_FL', 'dsenroll', 'dslv', 'num_issued', 'ever_redeemed_fl', 'earn_fl', 'dslreward', 'tenure', 'segment']

customerkey                       int64
enrolldate               datetime64[ns]
store1distance                  float64
netsalesamount                  float64
first_visit              datetime64[ns]
last_visit               datetime64[ns]
DK WOMENS APPAREL_FL               int8
DK MENS APPAREL_FL                 int8
HANDBAGS_FL                        int8
SMALL LEATHERGOODS_FL              int8
Womens Outerwear_FL                int8
HATS / MISC_FL                     int8
Mens Outerwear_FL                  int8
FOOTWEAR_FL                        int8
APPAREL_FL                         int8
Outerwear_FL                       int8
WOMENS_FL                          int8
MENS_FL                            int8
ECOMMERCE_FL                       int8
activity_24mo_FL                   int8
dsenroll                          int64
dslv                              int64
trans_ct12mo                      int64
totalnetspend12m                float64
num_issued                      float64
ever_redeemed_fl                float64
last_reward_earned               object
first_reward_earned              object
red_fl                            int32
earn_fl                           int32
dtype: object customerkey                     int64
last_reward_earned     datetime64[ns]
first_reward_earned    datetime64[ns]
dtype: object